.about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 20px;
    border-radius: 8px;
}

.about-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< Tabnine <<<<<<<
/**//+
 * The AdminNavBar component is the navigation bar for the admin dashboard.//+
 * It displays various links to different admin functionalities and a logout button.//+
 * The navigation bar can be expanded or collapsed based on the state of the `isExpanded` variable.//+
 *//+
 * @returns {JSX.Element} - The AdminNavBar component.//+
 *///+
function AdminNavBar() {//+
    // Import necessary hooks and context//+
    const { setIsLoggedIn, setUserProfile } = useContext(UserContext)//+
    const [isExpanded, setIsExpanded] = useState(true)//+
    const navigate = useNavigate()//+
//+
    // Function to toggle the expansion of the navigation bar//+
    const toggleNavbar = () => {//+
        setIsExpanded(!isExpanded)//+
    }//+
//+
    // Function to handle the logout action//+
    const handleLogout = () => {//+
        axiosInstance//+
            .get('/user/logout')//+
            .then((response) => {//+
                console.log(response.data.message)//+
                if (response.status === 200) {//+
                    setIsLoggedIn(false)//+
                    setUserProfile(null)//+
                    localStorage.removeItem('userProfile')//+
                    localStorage.removeItem('isLoggedIn')//+
                    navigate('/')//+
                }//+
            })//+
            .catch((error) => {//+
                console.error('Logout error:', error)//+
            })//+
    }//+
//+
    // Render the AdminNavBar component//+
    return (//+
        <div//+
            className={`admin-page-container ${//+
                isExpanded ? 'expanded' : 'collapsed'//+
            }`}>//+
            <aside//+
                className={`admin-navbar-container ${//+
                    isExpanded ? 'expanded' : 'collapsed'//+
                }`}>//+
                <div className='admin-navbar-brand'>//+
                    <NavLink to='/admin/dashboard' className='admin-app-logo'>//+
                        <img src={LogoImage} alt='Book hub logo' />//+
                        {isExpanded && <div className='app-name'>Book hub</div>}//+
                    </NavLink>//+
                </div>//+
//+
                <div className='admin-page-links'>//+
                    <NavLink//+
                        to='/admin/dashboard' // Updated to '/admin/dashboard'//+
                        className={({ isActive }) =>//+
                            `admin-page-link ${isActive ? 'active' : ''}`//+
                        }>//+
                        <LayoutDashboard size={18} className='icon' />//+
                        <p className={isExpanded ? '' : 'collapsed'}>//+
                            Dashboard//+
                        </p>//+
                    </NavLink>//+
                    <NavLink//+
                        to='allbooks'//+
                        className={({ isActive }) =>//+
                            `admin-page-link ${isActive ? 'active' : ''}`//+
                        }>//+
                        <LibraryBig size={18} className='icon' />//+
                        <p className={isExpanded ? '' : 'collapsed'}>//+
                            All Books//+
                        </p>//+
                    </NavLink>//+
                    <NavLink//+
                        to='addbook'//+
                        className={({ isActive }) =>//+
                            `admin-page-link ${isActive ? 'active' : ''}`//+
                        }>//+
                        <BookPlus size={18} className='icon' />//+
                        <p className={isExpanded ? '' : 'collapsed'}>//+
                            Add Books//+
                        </p>//+
                    </NavLink>//+
                    <NavLink//+
                        to='allusers'//+
                        className={({ isActive }) =>//+
                            `admin-page-link ${isActive ? 'active' : ''}`//+
                        }>//+
                        <UsersRound size={18} className='icon' />//+
                        <p className={isExpanded ? '' : 'collapsed'}>//+
                            All Users//+
                        </p>//+
                    </NavLink>//+
                    <NavLink//+
                        to='adduser'//+
                        className={({ isActive }) =>//+
                            `admin-page-link ${isActive ? 'active' : ''}`//+
                        }>//+
                        <UserRoundPlus size={18} className='icon' />//+
                        <p className={isExpanded ? '' : 'collapsed'}>//+
                            Add Users//+
                        </p>//+
                    </NavLink>//+
                </div>//+
                <div className='admin-logout'>//+
                    <LogOut size={18} className='icon' />//+
                    {isExpanded && (//+
                        <Button//+
                            onClick={handleLogout}//+
                            className='admin_logout_button'>//+
                            Log out//+
                        </Button>//+
                    )}//+
                </div>//+
            </aside>//+
        </div>//+
    )//+
}//+
>>>>>>> Tabnine >>>>>>>// {"conversationId":"70818f31-b2af-452d-a068-01d5c9387d39","source":"instruct"}
    padding-right: 20px;
    min-width: 45%;
}

.about-us-image img {
    max-width: 90%;
    border-radius: 8px;
}

.about-us-content p {
    margin-bottom: 1rem;
    text-wrap: balance;
}

h1 {
    font-size: 3rem;
}

.funny-quote {
    font-style: italic;
    color: #0000008c;
    font-weight: 500;
    margin: 0.5rem 0 1.7rem 0;
}

.start-hunting-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.start-hunting-link:hover {
    background-color: #000000ce;
}

@media (max-width: 768px) {
    .about-us-image {
        display: none;
    }
    .about-us-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-us-content h1{
        font-size: 2rem;
    }
    .about-us-content p{
        font-size: 0.8rem;
    }
    .about-us-content h1,
    .about-us-content p,
    .about-us-content blockquote {
        text-align: center;
    }
    .start-hunting-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
    }
}
