.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20vh);
}

.login-content {
    max-width: 500px;
    width: 330px;
    margin: 0 auto;
    padding: 2.5rem 1.6rem;
    text-align: center;
    border: 1px solid var(--gray-400);
    border-radius: 16px;
}

.login-title {
    padding: 0rem 0.5rem 2.5rem 0.5rem;
}

.back-btn-container {
    margin: 1rem;
    position: absolute;
    top: 2%;
    left: 1%;
}

.back-btn {
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container-login {
    margin-bottom: 15px;
    padding: 0 0 1rem 0;
}
/* 
input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.4rem;
    min-width: 300px;
} */

input:focus {
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
}

.email-error,
.password-error {
    display: flex;
    /* padding: 4px 0 0 4px; */
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.email-input,
.password-input {
    position: relative;
}

.email-input input,
.password-input input {
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    padding: 0.4rem;
    min-width: 330px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.password-toggle-btn {
    position: absolute;
    top: 55%;
    right: 10px;
    padding: 8px 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.login-button {
    color: white;
    background-color: black;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    width: 330px;
    max-width: 100%;
}

.new-user {
    margin: 1.3rem 0 0.4rem 0;
}

.new-user span {
    font-size: 14px;
}

.signup-button {
    margin: 0 0 0 0.5rem;
    font-size: 14px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 321px) {
    .login-content {
        max-width: 250px;
        width: 230px;
        margin: 0 auto;
        padding: 2.5rem 1.6rem;
        text-align: center;
        border: 1px solid var(--gray-400);
        border-radius: 16px;
    }

    .email-input input,
    .password-input input {
        border: 1px solid var(--gray-400);
        border-radius: 4px;
        padding: 0.4rem;
        min-width: 230px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .login-button {
        color: white;
        background-color: black;
        padding: 12px 24px;
        border: 1px solid black;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        width: 230px;
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    .login-content {
        max-width: 250px;
        width: 300px;
        margin: 0 auto;
        padding: 2.5rem 1.6rem;
        text-align: center;
        border: 1px solid var(--gray-400);
        border-radius: 16px;
    }

    .email-input input,
    .password-input input {
        border: 1px solid var(--gray-400);
        border-radius: 4px;
        padding: 0.4rem;
        min-width: 260px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .login-button {
        color: white;
        background-color: black;
        padding: 12px 24px;
        border: 1px solid black;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        width: 260px;
        max-width: 100%;
    }
}
