.book-card {
    text-align: left;
    max-width: 250px;
    overflow: hidden;
    padding: 0.7rem;
}

.book-card img:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.book-card img {
    border-radius: 0.4rem;
    height: 310px;
    object-fit: fill;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.book-details {
    padding-bottom: 1rem;
}

.book-title {
    color: #333;
    font-size: 1.2em;
    letter-spacing: -0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.4rem 0.8rem 0rem 0.2rem;
    user-select: none;
}

.book-author {
    color: #7b7b7b;
    font-size: 0.875em;
    padding: 0rem 0.8rem 0rem 0.2rem;
    user-select: none;
}

@media (max-width: 2560px) {
    .book-card img {
        height: 380px;
    }
}

@media (max-width: 1880px) {
    .book-card img {
        height: 330px;
    }
}

@media (max-width: 1640px) {
    .book-card img {
        height: 320px;
    }
}

@media (max-width: 768px) {
    .book-card img {
        border-radius: 0.2rem;
        height: 210px;
        width: 150px;
    }
}
@media (max-width: 650px) {
    .book-card img {
        border-radius: 0.2rem;
        height: 220px;
        width: 150px;
    }
}

@media (max-width: 426px) {
    .book-card {
        padding: 0 0.7rem;
    }
    .book-card img {
        border-radius: 0.2rem;
        height: 250px;
        width: 180px;
    }
    .book-title {
        font-size: 1rem;
    }

    .book-author {
        font-size: 0.8rem;
        text-overflow: ellipsis;
        width: 230px;
    }
}

@media (max-width: 376px) {
    .book-card {
        padding: 0 0.7rem;
    }
    .book-card img {
        border-radius: 0.2rem;
        height: 210px;
        width: 152px;
    }
    .book-title {
        font-size: 0.9rem;
    }

    .book-author {
        font-size: 0.7rem;
        text-overflow: ellipsis;
        width: 230px;
    }
}

@media (max-width: 321px) {
    .book-card {
        padding: 0 0.7rem;
    }
    .book-card img {
        border-radius: 0.2rem;
        height: 190px;
        width: 130px;
    }
    .book-title {
        font-size: 0.9rem;
    }

    .book-author {
        font-size: 0.7rem;
        text-overflow: ellipsis;
        width: 230px;
    }
}
