.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    padding: 2rem 0;
    margin-bottom: 2rem;
    overflow-y: auto;
}

.overlay-content {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    position: relative;
    max-width: 1200px;
    width: 87%;
    margin: 2rem 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-book-container {
    display: flex;
    text-align: center;
    margin: 1rem;
    padding: 2rem 2rem 2rem 2rem;
    flex-wrap: wrap;
    overflow: hidden;
    height: auto;
}

.overlay-book-container img {
    max-width: 400px;
    min-width: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: fill;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.overlay-details-action-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
}

.overlay-actions {
    /* margin: 1rem; */
    display: flex;
    gap: 1rem;
    color: rgb(44, 44, 44);
}

.bookmark-icon,
.heart-icon{
    border-radius: 40%;
    padding: 0.8rem;
    background-color: rgb(243, 243, 243);
}

.delete-icon,
.edit-icon {
    border-radius: 40%;
    padding: 0.8rem;
    background-color: rgb(243, 243, 243);
}

.overlay-header-title {
    margin-bottom: 0.2rem;
    line-height: 55px;
    font-size: 3rem;
    width: 100%;
}

.overlay-header-author {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: rgb(95, 95, 95);
}

.overlay-book-other-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.overlay-book-details-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 1rem 0rem;
    text-align: center;
    background-color: var(--gray-150);
}

.overlay-book-details-grid h3 {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem;
}

.overlay-book-details-grid p {
    font-size: 0.9rem;
    color: var(--gray-550);
}

.overlay-book-description {
    margin-bottom: 1.5rem;
    text-align: justify;
}
.overlay-book-description h3 {
    margin-bottom: 0.4rem;
    font-size: 1rem;
}

.overlay-book-description p {
    color: var(--gray-550);
}

.overlay-book-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
    text-align: left;
}

/* .edit-details {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 0.5rem;
}

.edit-details button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.delete-button {
    background-color: rgb(255, 255, 255);
    color: #ff2727;
    border: 1.4px solid #ff2727;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;
    font-size: 1rem;
}

.edit-button {
    font-size: 1rem;
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;
} */

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}
