.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 60px;
}

.app-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.app-name {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.app-logo img {
    height: 28px;
    width: 28px;
}

.navbar-brand a {
    text-decoration: none;
    color: black;
}

.page-links a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.signup-login-links a {
    text-decoration: none;
}

.logout-btn {
    /* color: black;
    background-color: transparent;
    border: black solid 1px;
    border-radius: 16px;
    cursor: pointer;
    padding: 0.5rem 1.5rem; */

    color: white;
    background-color: black;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 32px;
    cursor: pointer;
    font-size: 14px;
}
