.book-card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    text-align: left;
    width: 200px;
    overflow: hidden;
}

.book-card img {
    height: 250px;
    object-fit: fill;
    width: 100%;
}

.book-details {
    padding-bottom: 1rem;
}

.book-title {
    color: #333;
    font-size: 1.2em;
    letter-spacing: -0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.4rem 0.8rem 0rem 0.8rem;
}

.book-author {
    color: #777;
    font-size: 0.875em;
    padding: 0rem 0.8rem 0rem 0.8rem;
}

/* .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
