.skip-to-content-link {
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
}
.skip-to-content-link {
  background: #010101;
  border-radius: 0.5rem;
  left: 50%;
  padding: 0.6rem 1.5rem;
  position: absolute;
  z-index: 100;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

.user-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0rem 1rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.user-navbar-brand {
  flex: 1;
}

.user-page-app-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.user-page-app-logo img {
  height: 30px;
}

.app-name {
  font-weight: 600;
  font-size: 1.2rem;
  white-space: nowrap;
}

.navbar-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.page-links {
  display: flex;
  gap: 2rem;
}

.page-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: normal;
  transition: opacity 0.3s ease;
}

.page-links a:hover {
  opacity: 0.7;
}

.signup-login-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.signup-login-links a {
  text-decoration: none;
}

.login-btn,
.signup-btn {
  text-decoration: none;
  border-radius: 4px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.login-btn {
  color: black;
  padding: 0.5rem 1.5rem;
}

.signup-btn {
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: black;
  margin-left: 24px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.login-btn:hover,
.signup-btn:hover {
  opacity: 0.8;
}

.nav-user-profile-name {
  color: black;
}

.user-profile-btn {
  padding: 0 1rem;
}

.user-nav-profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-profile-dropdown-menu {
  display: none;
  position: absolute;
  top: 4.4rem;
  right: 1.4rem;
  width: 250px;
  background-color: #ffffff;
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.082) 0px 48px 100px 0px;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

.user-profile-dropdown-menu.open {
  display: block;
  transform: scaleY(1);
  opacity: 1;
}

.user-profile-dropdown-menu.closing {
  transform: scaleY(0);
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user-profile-dropdown-header {
  padding: 2rem 2rem 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.user-profile-dropdown-header img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
  background-color: #333333;
}

.user-profile-dropdown-image {
  /* width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px; */
}

.user-profile-dropdown-name {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  padding: 1rem 0rem;
}

.user-profile-dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.user-profile-dropdown-list li {
  color: #484848;
  padding: 0 1rem;
}

.user-profile-dropdown-list li a {
  display: flex;
  border-bottom: 1px solid var(--gray-200);
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  padding: 1.2rem 0.5rem;
  color: #484848;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.user-profile-dropdown-list li a:hover {
  opacity: 0.7;
}

.user-profile-dropdown-list li:last-child a {
  border-bottom: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  position: relative;
  z-index: 20;
  background: transparent;
  border: hidden;
  transition: all 250ms ease-in-out;
}

.line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: all 250ms ease-out;
}

.line:nth-child(1) {
  transform: translateY(-4px);
}

.line:nth-child(2) {
  transform: translateY(4px);
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}

.hamburger.active .line {
  background-color: black;
}

.menuDropDown {
  font-size: 1.1rem;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 130px;
  background-color: #fff;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 1rem;
}

.hamburger.active + .menuDropDown {
  display: flex;
}

@media (max-width: 426px) {
  .user-navbar-container {
    padding: 1.5rem 0;
  }
  .user-profile-btn {
    padding: 0;
  }
  .user-nav-profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .user-page-app-logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .resp-page-links {
    display: flex;
    flex-direction: column;
    width: 140px;
    gap: 1.5rem;
  }

  .resp-page-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: normal;
    transition: opacity 0.3s ease;
  }

  .resp-page-links a:hover {
    opacity: 0.7;
  }

  .hamburger {
    display: flex;
  }

  .hamburger-container {
    flex: 1;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }

  .signup-login-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .user-navbar-brand {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-navbar-center {
    display: none;
  }

  .signup-btn {
    width: 55px;
    padding: 0.5rem 0.9rem;
    margin-left: 2px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
  }
}
