.admin-page-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: aqua; */
    height: 100%;
    /* border: 1px solid; */
}

.navbar-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.app-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem;
}

.app-name {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.app-logo img {
    height: 28px;
    width: 28px;
}

.navbar-brand a {
    text-decoration: none;
    color: black;
}

.page-links{
    margin: 1rem 0 0 0 ;
}

.page-links a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.page-links a:hover{
    background-color: #f0f0f0;
    border-radius: 10rem;
}

.page-links a p {
    margin-left: 4px;
}

.logout-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.signup-login-links a {
    text-decoration: none;
}

.logout-btn {
    /* color: black;
    background-color: transparent;
    border: black solid 1px;
    border-radius: 16px;
    cursor: pointer;
    padding: 0.5rem 1.5rem; */

    color: white;
    background-color: black;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 32px;
    cursor: pointer;
    font-size: 14px;
}
