.admin-page-container {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* position: fixed; */
}

.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 15%;
    height: 100vh;
    background-color: #f8f9fa;
    box-sizing: border-box;
    position: fixed;
}

.navbar-brand {
    margin-bottom: auto;
}

.app-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem;
}

.app-name {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.app-logo img {
    /* height: 28px; */
    width: 28px;
    margin: 0;
}

.page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.page-link{
    display: flex;
    float: row;
    width: 100%;
}

.page-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    width: 80%;
    margin-top: 0.5rem;
    justify-content:center;
}

.page-links a:hover {
    background-color: #f0f0f0;
    border-radius: 10rem;
}

.page-links a p {
    margin-left: 4px;
}

.admin-user-profile {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem 0;
}

.admin-user-profile img {
    margin: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ccc;
}

.user-name {
    /* margin-top: 0.5rem; */
    font-weight: bold;
}

.main-content {
    flex: 1;
    margin-left: 15%;
    /* padding: 1rem; */
    /* overflow-y: auto; */
}
