.admin-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    background-color: #EFF3F4;
}
.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0.55rem;
    margin: 1rem;
    height: calc(
        100vh - 2rem
    );
    background-color: white;
    box-sizing: border-box;
    border-radius: 12px;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    user-select: none;
}

.navbar-container.expanded {
    width: 180px;
}

.navbar-container.collapsed {
    width: 50px;
}

.navbar-brand.collapsed {
    display: none;
}

aside {
    position: relative;
}

.navbar-brand {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button {
    position: absolute;
    top: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.app-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem;
    text-decoration: none;
}

.app-name {
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.app-logo img {
    width: 28px;
    margin: 0;
}

.page-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 0;
    overflow: hidden;
    margin-top: 2rem;
}

.page-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    transition: padding-left 0.3s ease-in-out;
}

.page-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    box-sizing: border-box;
}

.page-links a:hover {
    background-color: #f0f0f0;
}

.page-links a p {
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 1;
    transform: translateX(0);
}

.page-links a p.collapsed {
    opacity: 0;
    transform: translateX(-20px);
}

.page-links .icon {
    min-width: 24px;
}

.page-link.active {
    /* color: ; */
    background-color: #EFF3F4; /* optional: background color for active link */
}

.admin-logout-button {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;
    /* margin-left: 1rem; */
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    transition: margin-left 0.3s ease-in-out;
}
