.add-book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 1rem;
    /* margin-right: 1rem; */
    box-sizing: border-box;
    overflow:hidden;
}

.add-book-container h2 {
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.form-container {
    width: 100%;
    background-color: white;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.8rem;
}

.form-title{
    margin-bottom: 1rem;
}

.form-input-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0 1rem 0;
    
}

.input-column-one,
.input-column-two,
.input-column-three {
    width: 100%;
}

.imagePreviewContainer {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.imagePreviewContainer img {
    width: 50%;
    height: auto;
}

.inputContainer {
    width: 100%;
    position: relative;
    padding-bottom: 1.5rem;
}

#publicationDate {
    user-select: none;
}

#book-cover-image input {
    border: none;
    user-select: none;
    cursor: pointer;
}

.dropzone {
    flex: 1;
    border: 2px dashed #cccccc;
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropzone.active {
    border-color: #6c63ff;
}

.dropzone img {
    object-fit: contain;
    height: 320px;
    width: auto;
    max-width: 100%;
}

.upload-icon {
    margin: 1rem;
}

.upload-and-preview {
    width: 20vw;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-drop-upload {
    margin: 6rem 2rem;
    width: 20vw;
    max-width: 300px;
}

input {
    width: 100%;
    /* padding-bottom: 1rem; */
}

label {
    display: block;
    margin-bottom: 4px;
    margin-left: 2px;
    font-weight: 500;
    text-align: left;
}

input,
textarea,
select {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.4rem;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 106px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.error {
    position: absolute;
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
    display: block;
    text-align: left;
}

.server-error {
    color: red;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.clear-field-button {
    flex: 1;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid black;
    /* border: none; */
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 24px;
}

.add-book-button {
    flex: 1;
    color: white;
    background-color: black;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.add-book-button:hover {
    opacity: 0.8;
}


@media (max-width: 1200px) {
    form{
        height: 100vh;
    }
    .form-input-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .upload-and-preview,
    .drag-drop-upload {
        width: 30vw;
    }
}

@media (max-width: 1024px) {
    form{
        margin: 1rem;
    }
    .form-input-container {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 768px) {
    .form-container {
        margin: 0 1rem;
    }

    .form-input-container {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .upload-and-preview,
    .drag-drop-upload {
        width: 50vw;
    }

    .dropzone {
        height: 250px;
    }

    .imagePreviewContainer img {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .add-book-container {
        width: 100%;
    }

    .upload-and-preview,
    .drag-drop-upload {
        width: 80vw;
    }

    .dropzone {
        height: 200px;
    }

    .imagePreviewContainer img {
        width: 80%;
    }
}
