.add-book-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
    width: 100%;
    /* min-height: 100vh; */
    height: 100vh;
    /* padding: 2rem; */
    /* padding: 3rem; */
    /* margin-right: 1rem; */
    box-sizing: border-box;
    overflow-y: auto;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
}

.add-book-container h2 {
    width: 100%;
    text-align: center;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* min-width: 100%; */
    margin: 0; 
    padding: 0;
}

.form-container {
    width: 100%;
    background-color: white;
    /* padding: 1rem 2rem 2rem 2rem; */
    padding: 3rem;
    border: 1.5px solid var(--gray-250);
    border-radius: 0.8rem;
    overflow-y: auto;
    box-sizing: border-box;
}


.form-input-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0 1rem 0;
}

.form-title {
    margin: 0rem 0 2.2rem 0;
    font-size: 3.5rem;
    text-align: left;
    display: flex;
}


.input-column-one,
.input-column-two,
.input-column-three {
    width: 100%;
}

.imagePreviewContainer {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.imagePreviewContainer img {
    width: 50%;
    height: auto;
}

.inputContainer {
    width: 100%;
    position: relative;
    padding-bottom: 1.5rem;
}

#publicationDate {
    user-select: none;
}

#book-cover-image input {
    border: none;
    user-select: none;
    cursor: pointer;
}

.dropzone {
    flex: 1;
    border:2px dashed  var(--gray-250);
    background-color: white;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropzone.active {
    border-color: #6c63ff;
}

.dropzone img {
    object-fit: contain;
    height: 320px;
    width: auto;
    max-width: 100%;
}

.upload-icon {
    margin: 1rem;
}

.upload-and-preview {
    width: 20vw;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-drop-upload {
    margin: 6rem 2rem;
    width: 20vw;
    max-width: 300px;
}

.inputContainer input {
    border-color: var(--gray-450);
    width: 100%;
    /* padding-bottom: 1rem; */
}

label {
    display: block;
    margin-bottom: 4px;
    margin-left: 2px;
    font-weight: 500;
    text-align: left;
}

input,
textarea,
select {
    border: 1px solid  var(--gray-450);
    border-radius: 4px;
    padding: 0.4rem;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 106px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.error {
    position: absolute;
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
    display: block;
    text-align: left;
}

.server-error {
    color: red;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.clear-field-button {
    flex: 1;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid black;
    /* border: none; */
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 24px;
}

.add-book-button {
    flex: 1;
    color: white;
    background-color: black;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.add-book-button:hover {
    opacity: 0.8;
}

@media (min-width: 1801px) {
    .add-book-form {
        margin: 2rem;
    }
    .form-input-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .upload-and-preview,
    .drag-drop-upload {
        width: 20vw;
    }
}

@media (max-width: 1800px) {
    .form-input-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .upload-and-preview,
    .drag-drop-upload {
        width: 25vw;
    }
}

@media (max-width: 1440px) {
    .form-title {
        font-size: 2.5rem;
    }
    .add-book-container {
        overflow-y: auto;
    }

    .form-container {
        margin: 2rem; 
    }
    .form-input-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "input-column-one input-column-two"
            "input-column-three input-column-three";
    }

    .input-column-one {
        grid-area: input-column-one;
    }

    .input-column-two {
        grid-area: input-column-two;
    }

    .input-column-three {
        grid-area: input-column-three;
        width: 100%;
    }

    .upload-and-preview,
    .drag-drop-upload {
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 1200px) {
    
    .add-book-form {
        height: 100vh;
    }
    .form-input-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .upload-and-preview,
    .drag-drop-upload {
        width: 30vw;
    }
}

@media (max-width: 1024px) {
    .add-book-form {
        margin: 1rem;
    }
    .form-input-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .form-container {
        margin: 0 1rem;
    }
    .form-input-container {
        grid-template-columns: 1fr;
        gap: 8px;
    }
    .upload-and-preview,
    .drag-drop-upload {
        width: 50vw;
    }
    .dropzone {
        height: 250px;
    }
    .imagePreviewContainer img {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .add-book-container {
        width: 100%;
    }
    .upload-and-preview,
    .drag-drop-upload {
        width: 80vw;
    }
    .dropzone {
        height: 200px;
    }
    .imagePreviewContainer img {
        width: 80%;
    }
}

