.user-pfp-circle-size {
    width: 165px;
    height: 165px;
}

.user-pfp-radius {
    border-radius: 100px;
}

.user-pfp-shadow {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
}

.user-pfp-font-color {
    color: rgb(250, 250, 250);
}

.user-pfp-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.user-pfp-image {
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
}

.user-pfp-status-indicator {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 165px;
    background-color: rgba(0, 0, 0, 0.305);
    border-radius: 100px;
    z-index: 1;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.user-pfp-label {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.user-pfp-label span {
    margin-top: 0.5rem;
}

.user-pfp-container:hover .user-pfp-status-indicator {
    opacity: 1;
    visibility: visible;
}
.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.resp-edit-pfp-button {
    display: none;
}

.outer-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
}
.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.loader:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #0000006f;
    box-shadow: 32px -34px 0 5px #000000;
    animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000000a8;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
    0%,
    100% {
        bottom: -35px;
    }
    25%,
    75% {
        bottom: -2px;
    }
    20%,
    80% {
        bottom: 2px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-15deg);
    }
    25%,
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(25deg);
    }
}

@media (max-width: 426px) {
    .user-pfp-image {
        width: 75px;
        height: 75px;
    }
    .user-pfp-container:hover .user-pfp-status-indicator {
        opacity: 0;
        visibility: hidden;
    }
    .resp-edit-pfp-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border: none;
        padding: 0.4rem 0.78rem;
        background-color: rgb(255, 255, 255);
        font-weight: 500;
        cursor: pointer;
        color: rgb(0, 0, 0);
        border: 0.5px solid black;
        border-radius: 6px;
        font-size: 12px;
        transition-duration: 0.3s;
        opacity: 0.7 ;
    }
    .outer-loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width: 65px;
        height: 65px;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
        border-radius: 100px;
        z-index: 0;
    }
}
