.search-page-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2.5rem 0rem 2.5rem;
}

.search-heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.search-title {
    user-select: none;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: -2px;
}

.search-sub-heading {
    color: #8e8e8e;
    user-select: none;
}


/* ---------- Filter Dropdown ----------- */

.filter-controls {
    display: flex;
}

.clear-button {
    display: flex;
    margin: 0.35rem;
}

.clear-filters-button {
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #4b4b4b;
    font-size: 14px;
    position: relative;
    padding: 0 1.3rem;
}

.clear-filters-button:hover {
    background-color: #f3f3f3;
    opacity: 0.9;
}

.filter-container {
    display: flex;
    gap: 1rem;
    margin: 0.3rem 0;
    width: 50%;
}

.filter-select {
    appearance: none;
    color: #4b4b4b;
    background-color: #f0f0f0;
    border: 1px solid #c9c9c9;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path fill="none" stroke="black" stroke-width="2" d="M7 10l5 5 5-5"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

.search-result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.book-results {
    width: 100%;
}

.loading-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
}

.loading-text {
    color: #616161;
    position: absolute;
    z-index: 100;
    bottom: 2.5rem;
}

.search-not-found-Animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.not-found-text {
    color: #888888;
    position: absolute;
    z-index: 100;
    bottom: 2.3rem;
}

.results-flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.results-grid-layout {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); */
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

@media (max-width: 1880px) {
    .results-grid-layout {
        /* grid-template-columns: repeat(6, 1fr); */
    
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));}
}

@media (max-width: 1600px) {
    .results-grid-layout {
        /* grid-template-columns: repeat(5, 1fr); */
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
}

@media (max-width: 1200px) {
    .results-grid-layout {
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
}

@media (max-width: 800px) {
    .results-grid-layout {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .results-grid-layout {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .results-grid-layout {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}
