.user-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    margin: 0rem 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.user-navbar-brand {
    flex: 1;
}

.user-page-app-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.user-page-app-logo img {
    height: 30px;
    /* margin-right: 0.1rem; */
}

.app-name {
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;
}

.navbar-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.page-links {
    display: flex;
    gap: 2rem;
}

.page-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* font-weight: 500; */
    font-weight: normal;
    transition: opacity 0.3s ease;
}

.page-links a:hover {
    opacity: 0.7;
}

.signup-login-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.signup-login-links a {
    text-decoration: none;
}

.login-btn,
.signup-btn {
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn {
    color: black;
    padding: 0.5rem 1.5rem;
}

.signup-btn {
    color: white;
    font-weight: 500;
    padding: 0.5rem 0rem;
    /* background: linear-gradient(
        -30deg,
        #8d560f 10%,
        #df9d3a 60%,
        #df9d3a 85%
    ); */
    background-color: black;
    margin-left: 24px;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.login-btn:hover,
.signup-btn:hover {
    opacity: 0.8;
}

.nav-user-profile-name {
    color: black;
}

.user-profile-btn {
    padding: 0 1rem;
}

.user-nav-profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-profile-dropdown-menu {
    display: none;
    position: absolute;
    top: 4.4rem;
    right: 1.4rem;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid var(--gray-200);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.082) 0px 48px 100px 0px;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
}

.user-profile-dropdown-menu.open {
    display: block;
    transform: scaleY(1);
    opacity: 1;
}

.user-profile-dropdown-menu.closing {
    transform: scaleY(0);
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.user-profile-dropdown-header {
    padding: 2rem 2rem 1rem 2rem;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.user-profile-dropdown-header img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-color: #333333;
}

.user-profile-dropdown-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
}

.user-profile-dropdown-name {
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    padding: 1rem 0rem;
    /* width: 100%; */
}

.user-profile-dropdown-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.user-profile-dropdown-list li {
    color: #484848;
    padding: 0 1rem;
}

.user-profile-dropdown-list li a {
    display: flex;
    border-bottom: 1px solid var(--gray-200);
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    padding: 1.2rem 0.5rem;
    color: #484848;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.user-profile-dropdown-list li a:hover {
    opacity: 0.7;
}

.user-profile-dropdown-list li:last-child a {
    border-bottom: none;
}

@media (min-width: 1800px) {
    .user-profile-dropdown-image {
        height: 100px;
        width: 100px;
    }
    .user-nav-profile-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
