.user-navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 0rem 0.3rem;
}

.user-navbar-brand {
    flex: 1;
}

.app-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.app-logo img {
    height: 40px;
    margin-right: 0.2rem;
}

.app-name {
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;
}

.navbar-links {
    flex: 2;
    display: flex;
    justify-content: center;
}

.page-links {
    display: flex;
    gap: 2rem;
}

.page-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: opacity 0.3s ease;
}

.page-links a:hover {
    opacity: 0.7;
}

.signup-login-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.login-btn,
.signup-btn {
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn {
    color: black;
    padding: 0.5rem 1.5rem;
}

.signup-btn {
    color: white;
    font-weight: 500;
    padding: 0.5rem 0rem;
    background-color: black;
    margin-left: 24px;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.login-btn:hover,
.signup-btn:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .user-navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        width: 100%;
        margin: 1rem 0;
    }

    .page-links {
        width: 100%;
        justify-content: center;
    }

    .signup-login-links {
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }
}
