@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    
}

:root{
    --color-black: #1B2023;
}

body, html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


/*
on select background : #EFF0F0

bakcground color : #1B2023 - black

baclgroubd gray : #B3B4B5
dark gray #8A8D8F


$platinum: #E5E6E6ff;
$eerie-black: #1B2023ff;
$silver: #A7A8AAff;
*/