@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --color-black: #1b2023;
    --gray-100: #f7f7f7;
    --gray-150: #efefef;
    --gray-200: #e1e1e1;
    --gray-250: #d6d6d6;
    --gray-300: #c0c0c0;
    --gray-350: #b0b0b0;
    --gray-400: #a0a0a0;
    --gray-450: #909090;
    --gray-500: #7f7f7f;
    --gray-550: #6f6f6f;
    --gray-600: #4f4f4f;
    --gray-650: #3f3f3f;
    --gray-700: #2f2f2f;

    --primary-sky-blue: #00b0ebff;
    --secondary-sky-blue: #00b0ebff;

    --primary-light-blue: #def6ffff;
    --secondary-light-blue: rgb(223, 247, 255);
    --tertiary-light-blue: rgb(230, 248, 255);

    --primary-dark-blue: rgb(0, 79, 136);
    --secondary-dark-blue: rgb(0, 174, 255);
    --tertiary-dark-blue: rgb(0, 129, 220);

    --white: #ffffffff;
    --rich-black: #00171fff;

    --sky-blue: #87ceeb;
    --cornflower-blue: #6495ed;
    --dodger-blue: #0080ff;
    --royal-blue: #4169e1;
    --navy-blue: #000080;

/* ----gold gradient text----- */
    /* background: linear-gradient(
        -30deg,
        #8d560f 10%,
        #faaf3f 35%,
        #c57000 55%,
        #df9d3a 70%,
        #faaf3f 80%,
        #8d560f 92%
    ); */
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}



/* ---------- Screen Sizes for Responsiveness ---------- 

@media (min-width: 2560px) {
   
}

@media (min-width: 1880px) {
   
}

@media (min-width: 1440px) {
  
}

@media (max-width: 1024px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 425px) {
    
}

@media (min-width: 320px) {
    
}

*/